<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Beauty Salon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="سالن های زیبایی, آرایشگاه, مو, گریم,
آرایش, کوتاهی, اپیلاسیون, صورت, چهره, جذابیت" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="~/Assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Assets/css/style.css" rel='stylesheet' type='text/css' />


    <script src="~/Areas/AdminPart/Assets/ckeditor/ckeditor.js"></script>
    <!-- gallery -->
    <link rel="stylesheet" href="~/Assets/css/smoothbox.css" type='text/css' media="all" />
    <!-- banner slider -->
    <link rel="stylesheet" href="~/Assets/css/ken-burns.css" type="text/css" media="all" />
    <link href="~/Areas/AdminPart/Assets/css/fontawesome-all.css" rel="stylesheet">
    @*<!-- fontawesome -->
    <link href="~/Assets/css/fontawesome-all.css" rel="stylesheet">
    <!-- online fonts -->
    <link href="//fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700" rel="stylesheet">*@
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="MyApp" ng-controller="MyCtrl">
    <div id="home">
        <div class="{{bannerclass}}" >
           
            @*style="background: url(~/FileArchives/SiteSettingImage/bg1.jpg)no-repeat center; "*@
            <!-- header -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
                <div class="container">
                    <h1>
                        <a class="navbar-brand text-white" href="index.html">
                            {{Title}}
                        </a>
                    </h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center align-items-center">
                           
                            
                            
                            <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/Home/Contact">تماس با ما</a>
                            </li>
                           
                            @*<li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/Home/Services"> خدمات </a>
                            </li>*@
                            <li class="nav-item dropdown {{activeDrp}} mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    منو
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Home/Services">خدمات</a>
                                    <a class="dropdown-item" href="/Salon/IndexAllSalon">سالن ها</a>
                                   
                                    <a class="dropdown-item" href="/Articles"> دانستنی ها</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown {{activeMembership}} mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                 عضو رخشیدا شوید
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Salon/IndexSalonForm">من مدیر یک سالن زیبایی هستم</a>
                                    <a class="dropdown-item" href="/Person">کاربر عمومی</a>
                                   
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Login"> ورود به سایت</a>
                                   
                                </div>
                            </li>
                            <li class="nav-item {{activeAbout}} mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/Home/About">
                                    درباره ما

                                </a>


                            </li>
                            <li class="nav-item {{activeHome}}  mr-lg-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="/">
                                    خانه
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item  position-relative">
                                <a href="#menu" id="toggle">
                                    <span></span>
                                </a>
                                <div id="menu">
                                    <ul>
                                        <li class="nav-item">
                                            <a href="/Login" class="nav-link text-dark">ورود</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                </div>

                <!-- /.container -->
            </nav>
            <!-- //header -->

        </div>

        

        @RenderSection("banner", false)

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">خانه</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> {{breadcrumb}}</li>
            </ol>
        </nav>




        <section class="w3ls-bnrbtm pt-sm-5 pt-3" id="w3layouts_bnrbtm">
            <div class="container pt-md-5">
                <div class="row pt-lg-5">
                    <div class="col-lg-5  bb-left">
                        <h3 class="agile-title">

                            <span>{{Title}}</span>
                            <br> {{SubTitle}}
                            <span class="title-pos">{{Title}}</span>
                        </h3>
                    </div>
                    <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                        <p   ng-bind-html="Comment | unsafe" class="text-right "></p>
                       
                    </div>
                </div>
                <div class="text-center">
                    <img ng-src="@Url.Content("~/FileArchives/SiteSettingImage/{{PicturePath}}")" alt="~/FileArchives/SiteSettingImage/{{PicturePath}}" class="img-fluid mx-auto" />
                </div>
            </div>
        </section>

        @RenderBody()


        
        <!-- //blog -->
        <!-- Salons -->
        <section class="branches position-relative">
            <div class="container">
                <h3 class="agile-title">
                    <span>{{SalonTitle}}</span>
                    <br>  <p ng-bind-html="SalonComment | unsafe"></p>
                    <span class="title-pos">{{SalonSubTitle}}</span>
                </h3>
                <input type="button" class="btn btn-light" value="<<" ng-click="FuncShowAllSalon(PageNum,PageSize,'Prev')" />

                <div class="row py-5 branches-position">
                    <div class="col-lg-3 col-md-6" ng-repeat="Item in ListAllSalon">
                        <!-- branch-img -->
                        <div class="team-block">
                            <div class="team-img">
                                <img ng-src="@Url.Content("~/FileArchives/Salon/{{Item.PicturePath}}")" alt="{{Item.PicturePath}}" class="img-fluid">
                                <div class="team-content">
                                    <div style="background-color: #f9acce" >

                                        <h4 class="text-lg-center text-white font-weight-bolder">
                                            {{Item.Name}}
                                        </h4>
                                        @*<h4 class="text-lg-center text-white">{{Item.Phone}}</h4>*@
                                        
                                    </div>
                                </div>
                                <div class="overlay">
                                    <div style="background-color: #d56e9b">
                                        <h4 class="text-lg-center text-dark font-weight: bold">{{Item.Name}}</h4>
                                        <p class="text-lg-center text-dark font-weight: bold"> <input type="button" class="btn-outline-info"  value="بیشتر بدانید" ng-click="FuncShowSalonPage(Item)" /></p>
<p class="text-lg-center text-dark font-weight: bold">{{Item.Address}}</p>
                                       </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                  
                    
                </div>

                <input type="button" class="btn btn-light" value=">>" ng-click="FuncShowAllSalon(PageNum,PageSize,'Next')" />
            </div>
        </section>
        <!-- //Salons -->
        <!-- footer -->
        <footer class="py-5 position-relative">
            <div class="container">
                <div class="footer-bottom row">
                    <!-- footer grid1 -->
                    <div class="col-lg-4 col-sm-6 footv3-left">
                        <div id="fixed-social">
                            <h3 class="mb-4">مارا دنبال کنید</h3>
                            <div>
                                <a href="#" class="fixed-facebook mb-2 rounded" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="rounded-left">instagram</span>
                                </a>
                            </div>
                            @*<div>
                                <a href="#" class="fixed-twitter mb-2 rounded" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                    <span class="rounded-left">facebook</span>
                                </a>
                            </div>*@
                            @*<div>
                                <a href="#" class="fixed-gplus mb-2 rounded" target="_blank">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span class="rounded-left">telegram</span>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="fixed-linkedin mb-2 rounded" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                    <span class="rounded-left">LinkedIn</span>
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <!-- //footer grid1 -->
                    <!-- footer grid3 -->
                    <div class="col-lg-4  col-sm-6 footv3-left my-sm-0 my-4">
                        <h3 class="mb-4">لینکها</h3>
                        <ul class="list-agileits">
                            <li>
                                <a href="/">
                                    خانه
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="Home/About">
                                    درباره ما
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="Home/Services">
                                    خدمات
                                </a>
                            </li>
                            <li>
                                <a href="Home/Contact">
                                    تماس با ما
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer grid3 -->
                    <!-- footer grid4  -->
                    @*<div class="col-lg-4  footv3-left my-lg-0 mt-4">
                        <h3 class="mb-4">مشترک ما شوید</h3>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control  bg-dark border-0" id="email" placeholder="Enter email" name="email" required>
                            </div>
                            <div class="form-group">
                                <input type="Submit" class="form-control  border-0" id="sub" value="submit" name="sub">
                            </div>
                        </form>
                    </div>*@
                    <!-- //footer grid4 -->
                </div>
            </div>
            <!-- //footer container -->
        </footer>
        <!-- //footer -->
        <div class="cpy-right text-center  py-3 bg-dark">
            <div class="text-white text-center" >
                <p ng-bind-html="CopyrightComment | unsafe" ></p>
            </div>
                @*<a href="/" class="text-white"> {{CopyrightTitle}}</a>*@
           
        </div>
    </div>
    <!-- js -->
    <script src="~/Scripts/MyJsTemplate/jquery-2.2.3.min.js"></script>
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!--  menu toggle -->
    <script src="~/Scripts/MyJsTemplate/menu.js"></script>
    <!-- gallery  -->
    <script src="~/Scripts/MyJsTemplate/smoothbox.jquery2.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="~/Scripts/MyJsTemplate/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- smooth scroll -->
    <script src="~/Scripts/MyJsTemplate/SmoothScroll.min.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="~/Scripts/MyJsTemplate/move-top.js"></script>
    <script src="~/Scripts/MyJsTemplate/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear'
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->


    <script src="~/Scripts/MyJsTemplate/bootstrap.js"></script>

    <script src="~/Scripts/Angular/angular.js"></script>
    <link href="~/Areas/AdminPart/Assets/DropZone/dropzone.css" rel="stylesheet" />
    <script src="~/Areas/AdminPart/Assets/DropZone/dropzone.js"></script>
    <link href="~/Areas/AdminPart/Assets/DropZone/ng-dropzone.min.css" rel="stylesheet" />
    <script src="~/Areas/AdminPart/Assets/DropZone/ng-dropzone.min.js"></script>
    <link href="~/Areas/AdminPart/Assets/PersianDatePicker/persianDatepicker-default.css" rel="stylesheet" />
    <script src="~/Areas/AdminPart/Assets/PersianDatePicker/persianDatepicker.js"></script>
    @RenderSection("DeclareJS", true);
</body>

</html>